
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 2px;
    /* border-left: 5px solid #FF5959; */
    padding-left: 15px;
    font-family: 'Yeseva One', cursive;
    
}
.main-container{
    display: flex;
    margin-bottom: 50px;
}
.first-part{
    width: 100%;
    padding: 5%;
    margin-top: 2%;
}
.first-part img{
    position: absolute;
    width: 30%; 
    top: -30px;  
}
.color{
    color: #FFAD5A;
}
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 3px;
    scroll-behavior: smooth;
}
#headings{
    margin-top: 90px;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    color:#13103A
}
.three-container{ 
    width:33%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 10px;
    margin-top: 30px;
}
.image{
    width: 40%;
    display: flex;
}
#mission{
    background-color: #547e833a;
    border-radius: 10px;
    padding: 10px;
}
#vission{
    background-color: #FFF4D6;
    border-radius: 10px;
    padding: 20px;
}
#goals{
    background-color: #FFF4D6;
    border-radius: 10px;
    padding: 20px;
}


